<img
  class="app-map-static"
  src="{{ map.staticImageSrc }}"
  width="{{ map.width }}"
  height="{{ map.height }}"
  alt="{{ map.mapLabel }}"
>
<p class="govuk-body-s app-map-static-attribution">{{ map.staticImageAttribution }}</p>
