{% extends "govuk/template.njk" %}

{% set assetPath = "/assets" %}
{% set serviceName = serviceName or "Example maps" %}
{% set serviceUrl = serviceUrl or "/" %}

{% block head %}
  <meta name="robots" content="noindex, nofollow, noarchive, nosnippet, noimageindex">
  <script>
    if (new URLSearchParams(location.search).get('js') === 'off') {
      document.documentElement.setAttribute('data-js', 'off')
      document.write('<meta http-equiv="Content-Security-Policy" content="script-src \'none\'">')
    }
    try {
      if (sessionStorage.getItem('app-prototype-banner-hidden') === '1') {
        document.documentElement.setAttribute('data-prototype-banner', 'hidden')
      }
    } catch {
      // sessionStorage can throw in private browsing modes
    }
  </script>
  <link rel="stylesheet" href="/stylesheets/govuk-frontend.min.css">
  {% block pageStyles %}{% endblock %}
  <link rel="stylesheet" href="/stylesheets/govuk-override.css">
{% endblock %}

{% block bodyStart %}
  {% block mapLoading %}{% endblock %}
  {% include "partials/prototype-banner.njk" %}
{% endblock %}

{% block beforeContent %}
  {% block pageBeforeContent %}{% endblock %}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="/javascripts/govuk-frontend.min.js"></script>
  <script type="module">
    import { initAll } from '/javascripts/govuk-frontend.min.js'
    initAll()
  </script>
  <script type="module">
    const checkbox = document.querySelector('.app-prototype-banner__checkbox')

    checkbox?.addEventListener('change', () => {
      if (!(checkbox instanceof HTMLInputElement) || !checkbox.checked) {
        return
      }

      try {
        sessionStorage.setItem('app-prototype-banner-hidden', '1')
      } catch {
        // sessionStorage can throw in private browsing modes
      }
    })
  </script>
  {% block pageScripts %}{% endblock %}
{% endblock %}
