{% extends "govuk/template.njk" %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% set assetPath = "/assets" %}
{% set serviceName = serviceName or "Example maps" %}
{% set serviceUrl = serviceUrl or "/" %}

{% block head %}
  <link rel="stylesheet" href="/stylesheets/govuk-frontend.min.css">
  {% block pageStyles %}{% endblock %}
{% endblock %}

{% block bodyStart %}
  {% block mapLoading %}{% endblock %}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your feedback will help us to improve it.'
  }) }}
  {% block pageBeforeContent %}{% endblock %}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="/javascripts/govuk-frontend.min.js"></script>
  <script type="module">
    import { initAll } from '/javascripts/govuk-frontend.min.js'
    initAll()
  </script>
  {% block pageScripts %}{% endblock %}
{% endblock %}
