{% extends "layouts/base.njk" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block pageTitle %}Open map button – GOV.UK{% endblock %}

{% block pageStyles %}
  <link rel="stylesheet" href="/stylesheets/interactive-map.css">
{% endblock %}

{% block mapLoading %}
  <script>document.body.classList.add('im-is-loading')</script>
{% endblock %}

{% block pageBeforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: "Open map button"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Open map button</h1>
      <p class="govuk-body">
        The map of London stays closed until you choose to open it.
      </p>
      <div id="{{ map.containerId }}">
        {{ govukWarningText({
          text: "You cannot open this map because JavaScript is not available.",
          iconFallbackText: "Warning",
          classes: "app-open-map-warning"
        }) }}
      </div>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}
  <script type="module" src="/javascripts/open-map-button.js"></script>
{% endblock %}
