.govuk-footer__crown {
  display: none;
}

.app-prototype-banner {
  position: relative;
  background-color: var(--govuk-focus-colour);
  color: var(--govuk-focus-text-colour);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 40px;
}

.app-prototype-banner:has(.app-prototype-banner__checkbox:checked),
html[data-prototype-banner="hidden"] .app-prototype-banner {
  display: none;
}

.app-prototype-banner__content {
  display: table;
  margin: 0;
}

.app-prototype-banner .govuk-tag {
  margin-right: 10px;
}

.app-prototype-banner__text {
  display: table-cell;
  vertical-align: middle;
}

.app-prototype-banner__close {
  position: absolute;
  top: 5px;
  right: 5px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin: 0;
  color: inherit;
  cursor: pointer;
}

.app-prototype-banner__close-icon {
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
}

.app-prototype-banner__checkbox:focus {
  outline: none;
}

.app-prototype-banner__close:hover {
  background-color: var(--govuk-focus-text-colour);
  color: var(--govuk-focus-colour);
}

.app-prototype-banner__close:focus-within {
  background-color: var(--govuk-body-background-colour);
  color: var(--govuk-focus-text-colour);
  outline: 3px solid var(--govuk-focus-text-colour);
  outline-offset: 0;
}

.app-map-static {
  display: block;
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: center;
}

#map {
  margin-bottom: 30px;
}

.js-enabled .app-map-static,
.js-enabled .app-map-static-attribution,
.js-enabled .app-open-map-warning {
  display: none;
}

.app-js-toggle--off {
  display: none;
}

.app-js-toggle--on {
  display: block;
}

.js-enabled .app-js-toggle--off {
  display: block;
}

.js-enabled .app-js-toggle--on {
  display: none;
}

[data-js="off"] .app-map-static,
[data-js="off"] .app-open-map-warning {
  display: block;
}

[data-js="off"] .app-js-toggle--off {
  display: none;
}

[data-js="off"] .app-js-toggle--on {
  display: block;
}

[data-js="off"] .app-map-static-attribution {
  display: block;
}

.app-route-directions {
  margin-top: 30px;
}

.js-enabled .app-route-directions {
  display: none;
}

[data-js="off"] .app-route-directions {
  display: block;
}

.app-flood-details {
  margin-top: 30px;
}

.js-enabled .app-flood-details {
  display: none;
}

[data-js="off"] .app-flood-details {
  display: block;
}

.app-flood-warning-banner {
  --_govuk-notification-banner-colour: #d4351c;
}

.app-planning-fallback {
  margin-top: 30px;
}

.app-tpo-fallback {
  margin-top: 30px;
}

.app-title-fallback {
  margin-top: 30px;
}

.app-road-fallback {
  margin-top: 30px;
}

.app-countryside-fallback {
  margin-top: 30px;
}

.app-local-authority-fallback {
  margin-top: 30px;
}

.app-rights-fallback {
  margin-top: 30px;
}

.app-planning-applications-fallback {
  margin-top: 30px;
}

.app-transport-statistics-fallback {
  margin-top: 30px;
}
